#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  max-width: 1200px;
  width: 100%; /* Дозволяє бути гумовим на маленьких екранах */
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box; /* Важливо, щоб padding не розширював контейнер */
}

.white-section {
  background-color: #fff;
  color: black;
  padding: 40px;
  border-radius: 0 0 8px 8px; 
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.restart-btn {
  margin-top: 15px;
}

.card__item {
  /* Розрахунок для 3-х колонок з урахуванням gap */
  flex-basis: calc((100% - 20px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрує вміст всередині картки */
}

.gif {
  width: 100%; /* Робить картинку адаптивною під ширину картки */
  width: 200px; /* Але не більшою за 200px */
  height: 200px;
}

.gif__text {
  max-width: 200px;
  text-align: center;
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  background-color: #031c45;
}

.search {
  display: flex;
  flex-direction: column;
}

.search input {
  padding: 10px;
  margin-left: 5px;
  border: none;
  border-radius: 8px;
}

.field__wrapper {
  padding-bottom: 10px;
}

button {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  background-color: #213b53;
  color: white;
}

.win__text {
  width: 400px;
  text-align: center;
}